---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import './styles/global.css';
const pageTitle = "Почему я";
---
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{pageTitle}</title>
  </head>
<body>
<Header  />
  <h1>{pageTitle}</h1>
  <p>Я родом из республики Мордовия (Российская Федерация), родился и жил в деревне и у меня руки растут из правильного места. 
  <p>Я оказываю услуги с минимальными наценками, так как работаю в качестве самозанятого на самого себя и планирую продолжать работу в выбранном направлении в будущем. 
  <p>Я заинтересован в том, чтобы люди рекомендовали меня как исполнителя своим знакомым. 
  <p>Выполняю работы под ключ, не завышаю ценник понапрасну, ровно и одинаково уважительно отношусь ко всем своим клиентам.
  <Footer />
</body>
</html>