<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Почему я</title>
  </head>
<body>
<a href="/">Главная</a>
<a href="/about/">Почему я</a>
<a href="/blog/">Новости</a>
  <h1>Запуск сайта</h1>
  <p>Данный сайт запущен в феврале 2026 года.
</body>
</html>