<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Мой сайт</title>
  </head>
<body>
<a href="/">Главная</a>
<a href="/about/">Почему я</a>
<a href="/blog/">Новости</a>
  <h1>Добро пожаловать на мой сайт!</h1>
  <p>Меня зовут Александр, я профессионал по системам водоподготовки, водоснабжения и отопления. 
  <p>Я оказываю услуги по монтажу в частных домах, квартирах и т.д. все работы выполняю под ключ и с гарантией. 
  <p>Территориально я нахожусь в Московской области, город Долгопрудный.
</body>
</html>