---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import './styles/global.css';
const pageTitle = "Главная";
---
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{pageTitle}</title>
  </head>
<body>
<Header  />
  <!-- <h1>{pageTitle}</h1> -->
  <h1>Добро пожаловать на мой сайт!</h1>
  <p>Меня зовут Александр, я профессионал по системам водоподготовки, водоснабжения и отопления.</p>  
  <p>Я оказываю <a href="/services/">услуги</a> по монтажу в частных домах, квартирах и т.д.</p>  
  <p>Все работы выполняю под ключ и с гарантией.</p> 
  <p>Территориально я нахожусь в Московской области, в городе Долгопрудный.</p>
      <Footer />
</body>
</html>