---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import './styles/global.css';
const pageTitle = "Услуги";
---
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{pageTitle}</title>
  </head>
<body>
<Header  />
  <h1>{pageTitle}</h1>
  Все предоставляемые мной услуги оказываются под ключ и с гарантией на выполненные работы.
 <h2>Монтаж фильтров очистки воды</h2>
 <p>Одна из наиболее популярных и востребованных услуг - установка фильтров для воды.</p>
 <p>Чистая и вкусная вода у Вас дома - это залог Вашего здоровья и здоровья Вашей семьи.</p>
 <a href="../media/2026/osmos.jpg"><img src="../media/2026/osmos_30.jpg" alt="Система обратного осмоса, для питьевой воды, удаляет все вирусы и микробы на 99,9%"></a>

  <h2>Монтаж тёплого пола</h2>

<a href="../media/2026/warm_floor_01.jpg"><img src="../media/2026/warm_floor_01_70.jpg" alt="Монтаж тёплого пола"></a>

<a href="../media/2026/warm_floor_02.jpg"><img src="../media/2026/warm_floor_02_70.jpg" alt="Монтаж тёплого пола"></a>

<a href="../media/2026/warm_floor_03.jpg"><img src="../media/2026/warm_floor_03_70.jpg" alt="Монтаж тёплого пола"></a>

<h2>Монтаж системы водоснабжения под ключ</h2>

<p>Развязка системы водоснабжения в квартире, включает в себя: пожарный шланг, аквастопы ГВС/ХВС, фильтр грубой очистки ГВС/ХВС, гребёнки, материал трубы нержавейка и сшитый полиэтилен рехау</p>

<a href="/media/2026/voda_full.jpg"><img src="/media/2026/voda_full_50.jpg" alt="Развязка системы водоснабжения в квартире, включает в себя: пожарный шланг, аквастопы ГВС/ХВС, фильтр грубой очистки ГВС/ХВС, гребёнки, материал трубы нержавейка и сшитый полиэтилен рехау"></a>

<h2>Развязка системы водоснабжения и отопления в квартире</h2>


<a href="../media/2026/voda_full_heating.jpg"><img src="../media/2026/voda_full_heating_70.jpg" alt="Развязка системы водоснабжения и отопления в квартире"></a>

<p>Все работы, запечатлённые на этой странице, выполнены мной.</p>

  <Footer />
</body>
</html>